[user]
	name = Yuki Morishita
	email = mor.yuki@gmail.com
[alias]
	co = checkout
	st = status -bs
	ci = commit
	br = branch -vv
	d = branch -D
[core]
	excludesfile = /Users/yuki/.gitignore
[github]
	user = yukim
[credential]
	helper = osxkeychain
