URxvt.depth: 32
URxvt.foreground: rgba:ffff/ffff/ffff/ffff
URxvt.background: rgba:3f00/3f00/3f00/dddd
!URxvt.fading: 20 
URxvt.inputMethod: ibus
URxvt.font: xft:Inconsolata:size=9:antialias=true,\
            [codeset=JISX0208]xft:TakaoGothic:size=9:antialias=true
URxvt.boldFont: xft:Inconsolata:size=9:antialias=true,\
                [codeset=JISX0208]xft:TakaoGothic:size=9:antialias=true
URxvt.scrollstyle: plain
URxvt.scrollBar_right: True
URxvt.scrollBar_floating: True

URxvt.keysym.C-0x2c: command:\033]710;xft:Inconsolata:size=16:antialias=true,\
            [codeset=JISX0208]xft:TakaoGothic:size=16:antialias=true\007
URxvt.keysym.C-0x2e: command:\033]710;xft:Inconsolata:size=9:antialias=true,\
            [codeset=JISX0208]xft:TakaoGothic:size=9:antialias=true\007
